body{
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h6 {
  font-family:  "Montserrat", sans-serif;
  color:#fff
}
h2 {
  font-size: 2 rem;
  line-height: 1.5;
}
hr {
  margin: 50px auto;
border:solid #ffc107 4px ;
border-bottom: none;
width: 80px;
}


li{
  list-style: none;
}
section {
  padding: 0px 0;
}
a{
  text-decoration:none;
  color: #70788a;
}
a:hover{
  color: #fff;
}
p{
  color:#000
}
h5{
  color: #000;
  size: 5px;

}
/*--------------------------------------------------------------header------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 0px 0;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(55, 64, 85, 0.9);
  padding: 0 0;
}

#header  {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  max-height: 40px;
}


/*--------------------------------------------------------------navbar------------------------------------------------------*/

.navbar{
  background: #414c64;
  padding: 15px 0;

}
.navbar-scrolled{
  color: transparent;
}

.nav-item{
  padding-left: 10px;
  
}
.navbar-nav{
 
  justify-content: flex-end;

}
.navbar:active{
  color:#fff;
  background-color: #444444;
}
.nav-link{
  color: #fff;
  list-style: none;
  font-size: 1.2 rem;
  position: relative;
  padding-left: 400px;
  font-family:"Montserrat", sans-serif;
}
.nav-link:hover{
  color:yellow;
  transition: 0.5s;
}
.nav-item li{
  padding-left: 90px;
}
.navbar-brand{
  color: #fff;
  padding-left: 20px;
  font-size: 28px;

}
.navbar-brand:hover{
  color: #ffc107;


}
.navbar-toggler{
  margin-right: 20px;
}

/*--------------------------------------------------------------about-section------------------------------------------------------*/

#about{
  padding: 0;
  margin: 0;
}
.img-about{
  width: 400px;
  height: 400px;
}
.icon-about{
  z-index: 2;
  margin: 0px  4px 0px 0px;
  border-radius: 100%;
  background-color:#fff;
 padding: 10px;
  display: inline-block;
  color: #70788a;
  font-size: 55px;
  
  }

.button{
  padding: 14px 40px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid #ffcb30;
 }
 .button:hover {
  border-color: #ffc107;
  background-color:#ffc107;
  border-style: solid;

 
 }
 
 .white{
  background-color: #fff;

 }
.white-text{
  color: #fff;
}
.big-heading{
  color:#fff
}
 .home-section {
  width: 100%;
  height: 80vh;
  color: white;
  padding-top: 0px;
  margin-top: 0px;
z-index: 1;
  background: url("../assets/img/hero-bg.jpg") top center fixed;
  background-size: cover;
  position: relative;
}

.home-section:before {
  content: "";
  background: rgba(45, 53, 69, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
} 

.home-section h1 {
  margin: auto;
  z-index: 17;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
.home-section p{
  margin: auto;
  z-index: 18;
  padding-bottom: 10px;
  padding-top: 10px;
}
.marg{
  margin: auto;
  padding: 14px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  z-index: 25;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid #ffcb30;
}
.marg:hover {
  border-color: #ffc107;
  background-color:#ffc107;
  border-style: solid;

 
 }
 /*--------------------------------------------------------------counter------------------------------------------------------*/
.counts {
  padding: 40px 0;
  font-size: 48px;
  display: block;
  color: #414c64;
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.count-text{
 margin: 10px;
 margin-left: 5px;
}
.counters span {
  font-size: 48px;
  display: block;
  color: #414c64;}
  /* call-to-action */
.call-to-action p{
  color:#fff;

}
 /*--------------------------------------------------------------services------------------------------------------------------*/

#services h2{
  color:#000
}

.icon-serv{
  margin:  4px;
  border-radius: 100%;
  transition: ease-in-out 0.3s;
  background-color:#d9d9d9;
 padding: 15px;
  display: inline-block;
  color: #70788a;
  font-size: 35px;
  
  }

.icon-serv:hover{
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);

}

  .icon-serv-yellow{
    color:yellow;  
    }
.icon-serv-red{
color:red;
}

  .icon-serv-blue{
    color:blue;  
    }
    .icon-serv-sky{
      color:rgb(37, 126, 161);    
      }
      .icon-serv-redish{
        color:orangered;
      }

  .icon-serv-orange{
  color:orange;
  }
  
.icon-serv-red:hover{
  color:#fff;
  background-color: red;
  border-radius: 100%;
  
  }

.icon-serv-orange:hover{
  color: #fff;
  background-color: orange;

}
.icon-serv-yellow:hover{
  color: #fff;
  background-color: yellow;

}
.icon-serv-redish:hover{

  color: #fff;
  background-color: orangered;
}
.icon-serv-blue:hover{
  color:#fff;
background-color: blue;
}
.icon-serv-sky:hover{
color:#fff;
background-color: rgb(43, 113, 141);
}
/*--------------------------------------------------------------frequently asked questions------------------------------------------------------*/
.faq h3{
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px auto;
  padding: 60px 0;

  position: relative;


}



/*--------------------------------------------------------------Clients------------------------------------------------------*/
.logos {
  padding: 15px 0;
  text-align: center;
}

.logos img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.logos img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .logos img {
    max-width: 40%;
  }
}
/*-------------------------------------------------------------- team -------------------------------------------------------------*/

#team h{
  color: #000;
}
.team-img{
  border-radius: 10%;
  width: 60%;
  z-index: 2;
  height: 60%;
}
.icon-div a {
  z-index: 30;
  transition: color 0.3s;
  color: #414c64;
  margin: 0 10px;
  top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-div {  
  opacity: 0;
}
.icon-div:hover {
  transition: all 0.4s;
  opacity: 25;

}
.icon-div a:hover{
color:#ffcb30
}
/*-------------------------------------------------------------- testimonials  -------------------------------------------------------------*/


.li{
  margin: 10px;
}

.icon-testomonial{
  background-color: #fff;
  color: yellow;
}
.testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 30px 180px 0 0;
  position: relative;
  border: 6px solid #fff;
}


.quote-icon-left{
  color: #ffe7a0;
  font-size: 26px;
}
.quote-icon-right{
  color: #ffe7a0;
  font-size: 26px;
}
.swiper-pagination-bullet{
  border: 1px solid #ffc107;
  font-size: 26px;

}
.swiper-pagination-bullet{
background-color:  #ffc107;}
/*-------------------------------------------------------------- footer -------------------------------------------------------------*/

.footer-links ul {
  color: #000;
  list-style: none;
  padding: 0;
  display: inline;
  margin: 0;
}

#footer h2{
  color:#000;
}
#footer h4{
  color:#000;
}
#footer p{
  color:#000;
}
.footer-links li{

  color: #ffcb30;
}

#footer a{
  text-decoration:none;
}
.footer-links a{
  text-decoration:none;
  color: #000;
  }
  .footer button{
    color: #fff;
    background-color: #ffc107;
  }
  .footer-links a:hover{
    color: #ffc107;
  }
  .footer{
  
    background-color: #fff;
    padding: 0px;
  }
.footer{
  padding: 0;
  margin: 0;
  color:#f4f5f8;
}
/*-------------------------------------------------------------- scroll-button  -------------------------------------------------------------*/



  :root {
    scroll-behavior: smooth;
  
  }
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ffc107;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #ffcb30;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

/*-------------------------------------------------------------- pricing  -------------------------------------------------------------*/

#pricing h2{
  color:black

}

  .little-box{
    color: #000;
    background-color: #f8f8f8;
    border: #70788a;
    width: auto;
  }
  .little-box1{
    color: #000;
    background-color: #ffcb30;
    border: #70788a;
    width: auto;
   
  }
  .white-box{
    color: #000;
    background-color: #fff;

  }
  .pricing h3 {
    font-size: 36px;
    
    margin:10px 0 0 0;
    color: #ffc107;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.p-h3{
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
}
.box h4{
  color:black
}
.pricing h4 {
  font-size: 36px;
  color: #ffc107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

}

.box{
  padding: 20px  0 0 0;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

 .featured h3 {
  color: #fff;
  background: #ffc107;
  border:  solid #ffc107;
}


.box li{

  padding: 5px;
  padding-top:10px ;
  padding-bottom: 10px;
}
.box-button{
  padding: 10px 35px;
  border-radius: 4px;
  transition: none;
  margin: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
    background: #ffc107;
    color: #fff;
    border: 2px solid #ffc107;
}
.box-button:hover{
  background-color: #ffcb30;
}

.box-button1{
  padding: 10px 35px;
  border-radius: 4px;
  transition: none;
  margin: 15px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
    background: #d6d6d6;
  color:grey;
    border: 2px solid grey;
}
#pricing h4 {
  font-size: 36px;
  color: #ffc107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
#pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #ffc107;
  color: #fff;
}
#pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.box-button1:hover{
  background-color: #f6f6f6;
}

/*--------------------------------------------------------------testimonials  -------------------------------------------------------------*/


#testimonials h2 {
  font-size: 28px;
  font-size: 2 rem;
  line-height: 1.5;
  color: #111;
}
.img-author {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/*-------------------------------------------------------------- contact -------------------------------------------------------------*/

.contact h4{
  color:rgb(87, 68, 68)
}

.contact button{
  color: #fff;
  background-color: #ffc107;
}

  #contact .info-box i { 
    color: #ffc107;
    border-radius: 50%;
    font-size: 32px;
    padding: 10px;
    border: 2px dotted #ffeeba;
 
}
.contact name{
  padding: 0px 0;
  margin: 0;
}

.contact h2{
  color:#000
}

.column{

  border-color: #d6d6d6;
  size: 10%;
}

 
.white{
  color: #fff;
}


.accordion-css{
  color: #000;
}
.accordion-button {
  color: #000;
  text-decoration: none;
}
.accordion-button:not(.collapsed) {
  color: #ffc107;
}
.bi-question-circle{
  font-size: 25px;
  color:#ffc107

}
.padding-icon{
  padding-right: 10px;
}
.accordion{
  padding: 0 100px;
}

.align-items-left{
  text-align: left;
}
/*-------------------------------------------------------------- headings  -------------------------------------------------------------*/

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.0 rem;
  font-weight: 600;
}

.container-fluid {
  padding: 7% 15%;
}
.row{
  
  position: center;
}
.spacing{
  padding: 70px  110px;
}
.margin{
  margin: 70px  100px;
}
/*-------------------------------------------------------------- color-section  -------------------------------------------------------------*/

 .color-section{
   background-color: #414c64;
   color: white;
 }
 .color1-section{
  background-color: #f6f6f6;

}
.white-section{
    background-color: white;
    box-shadow: grey;
    padding: 0;
    margin: 0;

}


.call-to-action{
  background-color: #414c64;
  color:#fff;
}
/*-------------------------------------------------------------- navigation -------------------------------------------------------------*/


.icon-box{
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: yellow;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 2;
  margin:  5px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 48px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);

  
}

.icon-boxes{
  margin-top: 80px;
  padding-bottom: 20px;

}
.icon-box:hover {
  background: yellow;
}

@media (min-width: 1200px) {
  .icon-boxes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% + 20px);

  }
}

@media (min-width: 1024px) {
  .mobile-nav-show {
    color: rgba(255, 255, 255, 0.6);
    background-position: right;
    margin-right: 100px;
}
}


/*--------------------------------------------------------------Call to Action----------------------------------------------*/



.icon-team {
  background-color: white;
  color:black;
  margin: 20px 10px;
  padding: 5px;

  border-width: 5%;
  border-radius: 100%;
color: grey;
}
#team h2{
  color: #000;
}
.icon-team:hover img1{
  background-color: #000;

  top: -30px;
  color:yellow;
}

.icon-footer {
  margin: 10px 0px 0px 10px ;
  padding: 5px;
  border-color: grey;
  border-style: solid;
  border-width: 5%;
  border-radius: 100%;
color: grey;
}
.icon-footer:hover{
border-color: #fff;
border-style: solid;
  background-color: #ffc107;
  color:#fff;
}

.copyright {
  color: #fff;
}
/*--------------------------------------------------------------Portfolio----------------------------------------------------*/


.portfolio h2{
  color:black

}
.row3{
  
}
.portfolio {
  margin: 0px auto 25px auto;
  list-style: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #444444;
  transition: all ease-in-out 0.3s;
  background: #fafafc;
  border-radius: 50px;
  margin-right: 0;
  margin-bottom: 30px;
  position: relative;
  left: 15px;
  padding: 1px 20px;
  font-weight: 600;
  right: 15px;
  bottom: 0;
}



 #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}
#portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 18px 10px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fafafc;
  border-radius: 50px;
}

 #portfolio-flters li:hover,
 #portfolio-flters li.filter-active {
  color: #414c64;
  background: #ffc107;
}
#portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #ffc107;
  padding: 15px 20px;
}

 .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

 .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

 .portfolio-item .portfolio-info .preview-link,
.portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: rgba(255, 255, 255, 0.7);
  transition: ease-in-out 0.3s;
}

.portfolio-item .portfolio-info .preview-link:hover,
 .portfolio-item .portfolio-info .details-link:hover {
  color: #fff;
}

 .portfolio-item .portfolio-info .details-link {
  right: 15px;
}

 .portfolio-item:hover img {
  top: -30px;
}

 .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*-------------------------------------------------------------Portfolio Details---------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffc107;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc107;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(65, 76, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}